<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
    {{ content }}
    <script src="/js/app.js"></script>
</body>
</html>